<form class="{{cssClass}}" autocomplete="off">
  <div>
    <!-- npc name starts -->

    <div>
      <h1>
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"
          class="charName"
        />
      </h1>
    </div>

    <!-- npc name ends -->
    <!-- header starts -->
    <header class="centry">
          {{> systems/hvpunofficial/templates/sheets/npc/npc-header.hbs}}
    </header>

    <!-- header ends -->
    <!-- navigation starts -->

    <nav class="navcontainer sheet-tabs tabs navigation" data-group="primary">
          {{> systems/hvpunofficial/templates/sheets/npc/npc-navigation.hbs}}
    </nav>

    <!-- navigation ends -->
    <!-- content starts -->

    <section class="contcontainer sheet-body content">
      <div class="item">
        <!-- Parameters start -->

        <div class="tab parameters" data-group="primary" data-tab="parameters">
          {{> systems/hvpunofficial/templates/sheets/npc/npc-parameters.hbs}}
        </div>

        <!-- Parameters end -->
        <!-- Atuts, Implants and Traits start -->
        <div
          class="tab atutsImplants"
          data-group="primary"
          data-tab="atutsImplants"
        >
          {{> systems/hvpunofficial/templates/sheets/npc/npc-atutImplTrait.hbs}}
        </div>
        <!-- Atuts, Implants and Traits end -->
        <!-- Combat start -->
        <div class="tab combat" data-group="primary" data-tab="combat">
          {{> systems/hvpunofficial/templates/sheets/npc/npc-combat.hbs}}
        </div>
        <!-- Combat end -->
        <!-- Entropic Powers start -->
        <div
          class="tab entropicPowers"
          data-group="primary"
          data-tab="entropicPowers"
        >
          {{> systems/hvpunofficial/templates/sheets/npc/npc-entropic.hbs}}
        </div>
        <!-- Entropic Powers end -->
        <!-- Equipment start -->
        <div class="tab equipment" data-group="primary" data-tab="equipment">
          {{> systems/hvpunofficial/templates/sheets/npc/npc-equipment.hbs}}
        </div>
        <!-- Equipment end -->
        <!-- Notes start -->
        <div class="tab notes" data-group="primary" data-tab="notes">
          {{> systems/hvpunofficial/templates/sheets/npc/npc-notes.hbs}}
        </div>
        <!-- Notes end -->
      </div>
    </section>

    <!-- content ends -->
  </div>
</form>